h6{color: crimson; font-size: small;}
h1{color: cyan;}
h2{color: darkblue;}
h3{color: darkgoldenrod;}
h4{color:darkmagenta}
h5{color:darksalmon}
p{color: black;font-family: 'Times New Roman', Times, serif;}
